/tmp
/out-tsc
**/.runtime/
/.railway/

/node_modules
**/node_modules
**/dist
**/coverage
**/*.tsbuildinfo
**/.turbo/

.env
.env.*
!.env.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.DS_Store
.idea/
.vscode/*

playwright-report/
test-results/

packages/database/src/generated/

# Documentation (local only)
docs/*
!docs/EMAIL_INBOX.md
